<h1>Fresh Fish</h1>
<h3>All our fish our fresh caught - click on each for more detail.</h3>

<% if current_user && current_user.admin == true %>
  <div class="alert alert-info" role="alert">
    <h1>ADMIN: Are there more fish in the sea?</h1>
    <h3><%= link_to "Click here to add a new fish", new_product_path %></h3>
  </div>
<% end %>

<% @products.each do |product| %>
  <div class="fish">
    <%= link_to product.name, product_path(product) %>
  </div>
<% end %>
